:root {
    --primary--color: #1f1f1f;
    --secondary--color: #E0E0E0;
    --third--color: #4CAF50;
    --cancel--button: #3a3a3a;
    --primary--font: 'Poppins';
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary--color);
}

h1 {
    color: var(--secondary--color);
    font-family: var(--primary--font);
    font-size: 3.6rem;
    text-align: center;
    margin: 2.4rem 0px;
}

.main__content {
    display: flex;
    justify-content: center;
    margin-bottom: 7.2rem;
}

.logo__header {
    margin: 1.6rem;
}

.input__section {
    background-color: var(--cancel--button);
    width: 60rem;
    height: 60rem;
    border-radius: 16px;
    margin-right: 7.2rem;
    display: flex;
    flex-direction: column;
}

.input__section__button {
    display: flex;
    margin: 0 auto;
}

p, h2, h3, h4 {
    font-family: var(--primary--font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary--color);
    margin: 2.4rem 0;
    text-align: center;
}

button {
    padding: 1.6rem;
    background-color: var(--third--color);
    background: none;
    border: 0.2rem solid var(--third--color);
    border-radius: 1.6rem;
    color: var(--secondary--color);
    margin: 1.6rem
}

button:nth-child(1) {
    background-color: var(--third--color);
}

.output__section {
    background-color: yellow;
    width: 40rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    background-color: var(--cancel--button);
    border-radius: 1.6rem;
}

.output__section p {
    flex: 1;
    margin: 0rem 2.4rem;
}

footer {
    width: 100%;
    background-color: var(--cancel--button);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7.2rem;
}

.footer__icons {
    width: 32px;
    height: 32px;
}

.encryptor {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    resize: none;
    background-color: var(--cancel--button);
    border: 0px solid;
    font-family: var(--primary--font);
    font-size: 1.6rem;
    color: var(--secondary--color);
}

.encryptor::placeholder {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    resize: none;
    color: var(--secondary--color);
    font-size: 1.8rem;
}

footer div img {
    margin: 1.6rem;
}


@media (max-width: 360px) {

    .main__content {
        display: flex;
        flex-direction: column;
    }
    .input__section {
        width: 28rem;
        margin: 0 auto;
        margin-bottom: 7.2rem;
    }

    .output__section {
        width: 28rem;
        margin: 0 auto;
    }

    h1 {
        font-size: 2.4rem;
        text-align: center;
    }
    p {
        text-align: center;
    }

    button {
        margin: 16px;
    }
}

@media (min-width: 361px) and (max-width: 768px) {

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input__section {
        min-width: 28rem;
        width: 36rem;
        margin: 0 4.8rem;
        margin-bottom: 7.2rem;
    }

    .input__section__button {
        margin: 3.6rem auto;
    }


    .output__section {
        min-width: 28rem;
        width: 36rem;
        margin: 0 4.8rem;
        margin-bottom: 7.2rem;
    }

    button {
        margin: 0 1.2rem;
    }
    footer {
        width: 100%;
        background-color: var(--cancel--button);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}